<!--
    File: views/Store/Album.cshtml
    Desc: View for the viewing album items
    Author: Sukhmanbir Kaur
    Student #: 200303856
    Date Modified: Aug 18, 2016
    History:
        initial commit
        display album data from database
-->


@using FinalExam_Sukhmanbir_200303856.Models
@model IEnumerable<Album>
@{
    ViewBag.Title = "Albums";

}
<h3>Albums</h3>
<p>
    There are @Model.Count()
    albums:
</p>
<ul>
    @foreach (Album item in Model)
    {
        <li>@item.Title</li>
    }
</ul>

