<!--
    File: views/Store/Artist.cshtml
    Desc: View for the viewing artist items
    Author: Sukhmanbir Kaur
    Student #: 200303856
    Date Modified: Aug 18, 2016
    History:
        initial commit
        display artist data from database
-->


@using FinalExam_Sukhmanbir_200303856.Models
@model IEnumerable<Artist>
@{
    ViewBag.Title = "Artists";

}
<h3>Artists</h3>
<p>
    There are @Model.Count()
    artists:
</p>
<ul>
    @foreach (Artist item in Model)
    {
        <li>@item.Name</li>
    }
</ul>

