<!--
    File: views/Store/Genre.cshtml
    Desc: View for the viewing genre items
    Author: Sukhmanbir Kaur
    Student #: 200303856
    Date Modified: Aug 18, 2016
    History:
        initial commit
        display genre data from database
-->



@using FinalExam_Sukhmanbir_200303856.Models
@model IEnumerable<Genre>
@{
    ViewBag.Title = "Genres";

}
<h3>Genres</h3>
<p>
    There are @Model.Count()
    genres:
</p>
<ul>
    @foreach (Genre item in Model)
    {
        <li>@item.Name</li>
    }
</ul>