<!--
    File: views/Store/Index.cshtml
    Desc: View for the browsing genre, album and artist pages
    Author: Sukhmanbir Kaur
    Student #: 200303856
    Date Modified: Aug 18, 2016
    History:
        initial commit
        display list to browse genre, album and artist pages
-->


@using FinalExam_Sukhmanbir_200303856.Models
@{
    ViewBag.Title = "Index";

}
<h3>Browse store</h3>

<li><a href="/Store/Genre">Genres</a></li>

<li><a href="/Store/Album">Albums</a></li>

<li><a href="/Store/Artist">Artists</a></li>