@using FinalExam_Sukhmanbir_200303856.Models
@{
    ViewBag.Title = "Index";

}
<h3>Browse store</h3>

<li><a href="/Store/Genre">Genres</a></li>

<li><a href="/Store/Album">Albums</a></li>

<li><a href="/Store/Artist">Artists</a></li>